/*  */
/* addrepopage styles */
/*  */

.lastpage{
  text-align: center;
}

.card{
  display: inline-block;
  width: 400px;
}

.btn{
  margin-top: 20px;
  margin-bottom: 10px;
}

input:focus::placeholder {
  color: transparent;
}

.red-font {
  color: red;
}

.no-display {
 display: none;
}

.header-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: bottom;
}

.footer-logo {
  width: 25px;
  height: 25px;
}

.header-font {
  font-size: x-large;
  font-family: "Georgia, serif";
}