/*  */
/* commitpage styles */
/*  */

.base{
  text-align: center;
}

.card{
  width: 400px;
  display: inline-block;
}

#selectrepo{
  margin-top: 10px;
}

input:focus::placeholder {
  color: transparent;
}

.red-font {
  color: red;
}

.no-display {
  display: none;
}
